.patient{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inp {
    border: none;
    border-bottom: 1px solid #afb0b1;
    padding: 5px 10px;
    outline: none;
    font-size: 1rem;
  }
  
  [placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
  }

  .gradcard {
    background-image: linear-gradient(to bottom right, rgba(254, 254, 255, 0.178), #cadff7); 
  }
  .profileimg{
    width:40rem;
    height:30rem;
  }
  .button{
    border-radius: 1rem;
    background-color: #202B6D;
    color: white;
    margin-right: 1rem;
}
.textcol{
  color:rgb(36, 38, 172)
}
.textinfoc{
  color:rgb(47, 47, 51)
}


.fontnavbar{
  font-size: 1rem;
}
 
