.appointhead{
     color: "#241671";
      font-size: "2rem";
     }
     .button{
        border-radius: 1rem;
        background-color: #202B6D;
        color: white;
        margin-right: 10px;
    }
    
    
      